#intro .jumbotron{
    height: 70vh;
    margin-bottom: 0px;


}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;

}
#intro h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    background: #f05f5c;
    color: white;
    padding: 9px 26px;
    border-radius: 20px;
}

#intro .container{
    position: relative;top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

header nav img{
    width: 120px;
}

header li{
    margin: 0 20px;
}

h3{
    font-size: 36px;
    line-height: 1.5;
}

p{
    color: #707070;
}

p.lead{
    color: black;
}

#second{
    padding: 80px 0px;
}

#second h3{
    margin-bottom: 80px;
}

#second img{
    width: 100px;
    border-radius: 100%;
    margin-bottom: 13px;
}

h3{
    font-size: 36px;
    line-height: 1.5;
}

p{
    color: #707070;
}

p.lead{
    color: black;
}

#second{
    padding: 80px 0px;
}

#second h3{
    margin-bottom: 80px;
}

#second img{
    width: 100px;
    border-radius: 100%;
    margin-bottom: 13px;
}

#latest{
    padding: 80px 0px;
    background: rgb(248, 248, 248);
}

#latest h3{
    margin-bottom: 0px;
}

#latest .outer{
    background: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0,0.08);
}

#latest .lower{
    padding: 6px 20px 20px 20px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
.box{
    background: #eee;
    padding: 10px 0;
    white-space: nowrap;/*文本不会换行，文本会在在同一行上继续*/
    overflow-y:auto;/*可滑动*/
}
/*自定义滚动条的伪对象选择器, CSS 可以隐藏滚动条*/
.box::-webkit-scrollbar{
    display: none;
}
.box1{
    width: 49%;
    margin-left: 3%;
    height: 100px;
    background: #fff;
    display: inline-block;/*行内块元素*/
}